{% extends 'base.html' %}

{% block content %}
<h1>This is app</h1>

<div class="d-flex flex-wrap justify-content-center px-5 pt-5">
    {% for meal in meals %}
    <div class="col-sm-3 mb-3 mb-sm-0">
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title">{{meal.strMealThumb}}</h5>
          <p class="card-text">{{meal.strMeal}}</p>
          <p>Description: This is very tasy food</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}