<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>this is home</h1>
    <h3>Author: {{author}}</h3>
    <h3>Age: {{age}}</h3>

    <!-- conditional statement -->

    {% if age >= 20 %}
    <h4>You will get driving license</h4>
    {% elif age >= 10 and age <= 19 %}
    <h4>You will not get</h4>
    {% else %}
    <h4>You are a child</h4>
    {% endif %}

    <!-- looping for -->

    {% for i in course %}
    <h4>{{i.id}} {{i.name}} {{i.fee}}</h4>
    {% endfor %}

    
    {{list}}
    <h1>    {{ list | join:" " }} </h1>

<h1>{{ birthday|date:"SHORT_DATE_FORMAT" }}</h1>

{{ empty | length }}
  </body>
</html>
